@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground cursor-none;
    background: repeating-linear-gradient(
      0deg,
      #0e0d0e 25%,
      #0e0d0e 50%,
      #171819 50%,
      #171819 75%
    );
    background-size: 8px 8px;
    min-height: 100vh;
  }
}

::-webkit-scrollbar {
  @apply w-0;
}

/* Cyber style button */
@font-face {
  font-family: Cyber;
  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
  font-display: swap;
}

.cybr-btn {
  --primary: hsl(
    var(--primary-hue),
    0%,
    calc(var(--primary-lightness, 0) * 1%)
  );
  --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
  --primary-hue: 0;
  --primary-lightness: 0;
  --color: hsl(0, 0%, 100%);
  --font-size: 26px;
  --shadow-primary-hue: 180;
  --label-size: 9px;
  --shadow-secondary-hue: 60;
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
  --clip: polygon(
    0 0,
    100% 0,
    100% 100%,
    95% 100%,
    95% 90%,
    85% 90%,
    85% 100%,
    8% 100%,
    0 70%
  );
  --border: 4px;
  --shimmy-distance: 5;
  --clip-one: polygon(
    0 2%,
    100% 2%,
    100% 95%,
    95% 95%,
    95% 90%,
    85% 90%,
    85% 95%,
    8% 95%,
    0 70%
  );
  --clip-two: polygon(
    0 78%,
    100% 78%,
    100% 100%,
    95% 100%,
    95% 90%,
    85% 90%,
    85% 100%,
    8% 100%,
    0 78%
  );
  --clip-three: polygon(
    0 44%,
    100% 44%,
    100% 54%,
    95% 54%,
    95% 54%,
    85% 54%,
    85% 54%,
    8% 54%,
    0 54%
  );
  --clip-four: polygon(
    0 0,
    100% 0,
    100% 0,
    95% 0,
    95% 0,
    85% 0,
    85% 0,
    8% 0,
    0 0
  );
  --clip-five: polygon(
    0 0,
    100% 0,
    100% 0,
    95% 0,
    95% 0,
    85% 0,
    85% 0,
    8% 0,
    0 0
  );
  --clip-six: polygon(
    0 40%,
    100% 40%,
    100% 85%,
    95% 85%,
    95% 85%,
    85% 85%,
    85% 85%,
    8% 85%,
    0 70%
  );
  --clip-seven: polygon(
    0 63%,
    100% 63%,
    100% 80%,
    95% 80%,
    95% 80%,
    85% 80%,
    85% 80%,
    8% 80%,
    0 70%
  );
  font-family: "Cyber", sans-serif;
  color: var(--color);
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  font-size: var(--font-size);
  outline: transparent;
  letter-spacing: 2px;
  position: relative;
  font-weight: 700;
  border: 0;
  min-width: 250px;
  transition: background 0.2s;
}

.cybr-btn:hover {
  cursor: none;
}
.cybr-btn:active {
  --primary: hsl(
    var(--primary-hue),
    85%,
    calc(var(--primary-lightness, 50) * 0.6%)
  );
}

.cybr-btn:after,
.cybr-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: var(--clip);
  z-index: -1;
}

.cybr-btn:before {
  background: var(--shadow-primary);
  transform: translate(var(--border), 0);
}

.cybr-btn:after {
  background: var(--primary);
}

.cybr-btn__tag {
  position: absolute;
  padding: 1px 4px;
  letter-spacing: 1px;
  line-height: 1;
  bottom: -5%;
  right: 5%;
  font-weight: normal;
  color: hsl(0, 0%, 100%);
  font-size: var(--label-size);
}

.cybr-btn__glitch {
  position: absolute;
  top: calc(var(--border) * -1);
  left: calc(var(--border) * -1);
  right: calc(var(--border) * -1);
  bottom: calc(var(--border) * -1);
  background: var(--shadow-primary);
  text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
  clip-path: var(--clip);
  animation: glitch 2s infinite;
  display: none;
}

.cybr-btn:hover .cybr-btn__glitch {
  display: block;
}

.cybr-btn__glitch:before {
  content: "";
  position: absolute;
  top: calc(var(--border) * 1);
  right: calc(var(--border) * 1);
  bottom: calc(var(--border) * 1);
  left: calc(var(--border) * 1);
  clip-path: var(--clip);
  background: var(--primary);
  z-index: -1;
}

@keyframes glitch {
  0% {
    clip-path: var(--clip-one);
  }
  2%,
  8% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  6% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  9% {
    clip-path: var(--clip-two);
    transform: translate(0, 0);
  }
  10% {
    clip-path: var(--clip-three);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  13% {
    clip-path: var(--clip-three);
    transform: translate(0, 0);
  }
  14%,
  21% {
    clip-path: var(--clip-four);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  25% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  30% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  35%,
  45% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * -1%));
  }
  40% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * 1%));
  }
  50% {
    clip-path: var(--clip-six);
    transform: translate(0, 0);
  }
  55% {
    clip-path: var(--clip-seven);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  60% {
    clip-path: var(--clip-seven);
    transform: translate(0, 0);
  }
  31%,
  61%,
  100% {
    clip-path: var(--clip-four);
  }
}

.cybr-btn:nth-of-type(2) {
  --primary-hue: 260;
}

button.cybr-btn.w-fit.h-12 {
    --shadow-primary: hsl(66.98deg 100% 50%);
}

.flex.flex-col.items-center.justify-center.gap-4.p-5 {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    padding: 20px;
    flex-direction: row;
    margin-top: -400px;
}

.flex.flex-col.items-center.justify-center.p-5.bg-gray-100.rounded.shadow-lg {
    background-color: rgba(17, 18, 23);
    border: 1px solid rgba(255, 255, 255, 0.030);
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

:root {
  --cpl-color-primary: 218, 70%, 51%;
  --cpl-color-success: 119, 53%, 51%;
  --cpl-color-info: 176, 61%, 48%;
  --cpl-color-warning: 43, 100%, 55%;
  --cpl-color-danger: 4, 58%, 50%;
  --cpl-color-secondary: 248, 17%, 19%;
  --cpl-color-warning-light: #ffe9b1;
  --cpl-color-primary-light: #e9f0fb;
  --cpl-color-success-light: #e5f7e4;
  --cpl-color-danger-light: #f9e8e7;
  --cpl-color-white: 0deg, 0%, 98%;
  --cpl-color-black: 0deg, 0%, 2%;
  --cpl-color-darker-1: 0deg, 0%, 12%;
  --cpl-color-darker-2: 0deg, 0%, 7%;
  --cpl-color-darker-3: 0deg, 0%, 2%;
  --cpl-color-contrast-base: 0deg;
  --cpl-color-contrast-saturation: 0%;
  --cpl-color-contrast-100: var(--cpl-color-contrast-base), var(--cpl-color-contrast-saturation), 2%;
  --cpl-color-contrast-200: var(--cpl-color-contrast-base), var(--cpl-color-contrast-saturation), 10%;
  --cpl-color-contrast-300: var(--cpl-color-contrast-base), var(--cpl-color-contrast-saturation), 25%;
  --cpl-color-contrast-400: var(--cpl-color-contrast-base), var(--cpl-color-contrast-saturation), 40%;
  --cpl-color-contrast-500: var(--cpl-color-contrast-base), var(--cpl-color-contrast-saturation), 50%;
  --cpl-color-contrast-900: var(--cpl-color-contrast-base), var(--cpl-color-contrast-saturation), 98%;
  --cpl-color-background-base: 0deg;
  --cpl-color-background-saturation: 0%;
  --cpl-color-background: hsl(var(--cpl-color-background-base), var(--cpl-color-background-saturation), 98%);
  --cpl-color-background-100: var(--cpl-color-background-base), var(--cpl-color-background-saturation), 96%;
  --cpl-color-background-200: var(--cpl-color-background-base), var(--cpl-color-background-saturation), 94%;
  --cpl-color-background-300: var(--cpl-color-background-base), var(--cpl-color-background-saturation), 92%;
  --cpl-color-background-400: var(--cpl-color-background-base), var(--cpl-color-background-saturation), 90%;
  --cpl-color-background-600: var(--cpl-color-background-base), var(--cpl-color-background-saturation), 86%;
  --cpl-container__padding: 30px;
  --cpl-container-full__width: calc(100% - (var(--cpl-container__padding) * 2));
  --cpl-container-xs__width: 100%;
  --cpl-container-sm__width: 500px;
  --cpl-container-md__width: 710px;
  --cpl-container-lg__width: 1010px;
  --cpl-color-glitch-1: #fe54b6;
  --cpl-color-glitch-2: #83f6e2;
  --cpl-btn-xs__padding-v: 1em;
  --cpl-btn-xs__padding-h: 2.5em;
  --cpl-btn-xs__font-size: 0.75em;
  --cpl-btn-sm__padding-v: 1.1666666667em;
  --cpl-btn-sm__padding-h: 3.3333333333em;
  --cpl-btn-sm__font-size: 0.75em;
  --cpl-btn-md__padding-v: 1.3461538462em;
  --cpl-btn-md__padding-h: 3.8461538462em;
  --cpl-btn-md__font-size: 0.8125em;
  --cpl-btn-lg__padding-v: 1.3571428571em;
  --cpl-btn-lg__padding-h: 4.2857142857em;
  --cpl-btn-lg__font-size: 0.875em;
  --cpl-btn-xl__padding-v: 1.4333333333em;
  --cpl-btn-xl__padding-h: 4.6666666667em;
  --cpl-btn-xl__font-size: 0.9375em;
  --cpl-popup--overlay__background-color: hsla(var(--cpl-color-darker-3), 0.4);
  --cpl-border-radius: 0;
  --cpl-transition-duration: 0.25s;
  --cpl-transition-easing: ease-in-out;
  --cpl-page-scrollbar__size: 0%;
  --cpl-page-frame__size: 0%;
  --cpl-svg-frame: url('data:image/svg+xml;utf8,<svg width="400" height="400" viewBox="0 0 400 400" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M33 2H139.793L153.646 15.8536L153.793 16H154H246H246.207L246.354 15.8536L260.207 2H367V1H260H259.793L259.646 1.14645L245.793 15H154.207L140.354 1.14645L140.207 1H140H33V2ZM1 33L1.00002 367H2.00002L2 33H1ZM398 33V367H399V33H398ZM139.793 398.5H33V399.5H140H140.207L140.354 399.354L154.207 385.5H245.793L259.646 399.354L259.793 399.5H260H367V398.5H260.207L246.354 384.646L246.207 384.5H246H154H153.793L153.646 384.646L139.793 398.5Z" fill="%23818181" fill-opacity="0.2"/><path fill-rule="evenodd" clip-rule="evenodd" d="M400 0H397V3H400V0ZM400 397H397V400H400V397ZM0 397H3V400H0V397ZM3 0H0V3H3V0Z" fill="%23818181"/></svg>');
}

:root {
  --cpl-scrollbar__color: hsl(var(--cpl-color-contrast-100));
  --cpl-scrollbar__background-color: var(--cpl-color-background);
}

html:not(.is-mobile) ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
html:not(.is-mobile) ::-webkit-scrollbar-track {
  background-color: #141414;
}
html:not(.is-mobile) ::-webkit-scrollbar-thumb {
  background-color: #fafafa;
  border: 3px solid #141414;
}

.reserve-btn {
  font-family: Cyber, sans-serif;
  color: #fff;
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  font-size: 1rem;
  outline: transparent;
  letter-spacing: 2px;
  position: relative;
  font-weight: 700;
  border: 0;
  min-width: 250px;
  transition: background 0.2s;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, calc(0 * 1%));
}

.reserve-btn:hover {
  background-color: hsl(0, 0%, calc(0 * 1%));
}

.reserve-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsl(180, 90%, 50%);
  transform: translate(0.25rem);
  z-index: -1;
  border-radius: 0.5rem;
}

.reserve-btn:after,
.reserve-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
  z-index: -1;
}

.reserve-btn__glitch {
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  background: hsl(180, 90%, 60%);
  text-shadow: 2px 2px hsl(180, 90%, 50%), -2px -2px hsl(60, 90%, 60%);
  clip-path: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
  animation: glitch 2s infinite;
  display: none;
}

.reserve-btn__tag {
  position: absolute;
  padding: 1px 4px;
  letter-spacing: 1px;
  line-height: 1;
  bottom: -5%;
  right: 5%;
  font-weight: 400;
  color: #fff;
  font-size: 0.5625rem;
}

@keyframes glitch {
  0% {
    clip-path: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
  }
  5% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
  }
  10% {
    clip-path: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
  }
  15% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  }
  20% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  }
  25% {
    clip-path: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
  }
  30% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
  }
  100% {
    clip-path: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
  }
}
